/* 背景容器 */
.container {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

/* 角落图片通用样式 */
.cornerImg {
  width: 100%;
  height: 100%;
}

/* 右上角装饰 */
.cornerTop {
  position: absolute;
  top: -960px;
  right: -688px;
}

/* 左下角装饰 */
.cornerBottom {
  position: absolute;
  bottom: -600px;
  left: -300px;
}

/* 浮动圆形基础样式 */
.flyCircle {
  position: absolute;
  animation: float 5.2s ease-in-out infinite;
  border-radius: 50%;
}

/* 各个浮动圆的定位 */
.circle1 {
  top: 80px;
  left: 200px;
  animation-delay: 0s;
  width: 150px;
  height: 150px;
}

.circle2 {
  top: 300px;
  right: 150px;
  animation-delay: 0.8s;
  width: 80px;
  height: 80px;
}

.circle3 {
  bottom: 100px;
  left: 100px;
  animation-delay: 1.4s;
  width: 60px;
  height: 60px;
}

.circle4 {
  right: 300px;
  bottom: 200px;
  animation-delay: 2.6s;
  width: 100px;
  height: 100px;
}

/* 浮动动画 */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}
