.container {
  height: 100vh;
}

.card {
  z-index: 10;
  box-shadow: 0 2px 4px 2px #00000014;
  width: 86%;
  max-width: 720px;
  height: 380px;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 左侧插图 */
.illustration {
  transition: all 0.3s;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
