.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--ant-color-bg-base);
}

.error {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__icon {
    font-size: 120px !important;
    color: var(--ant-color-error);
  }

  &__tip {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--a {
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      color: var(--ant-color-primary);
      opacity: 0;
      animation-name: slide-up;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    &--b {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: var(--ant-color-text);
      opacity: 0;
      animation-name: slide-up;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &--c {
      padding: 0 30px;
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 20px;
      color: var(--ant-color-text-secondary);
      text-align: center;
      opacity: 0;
      animation-name: slide-up;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
