.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--ant-color-bg-base);

  &-box {
    z-index: 999;
    display: flex;
    width: 86%;
    max-width: 720px;
    height: 380px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: var(--ant-border-radius);
    background-color: var(--ant-color-bg-base);
  }
}

.login-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(60deg, var(--ant-color-primary), var(--ant-color-primary-border-hover));

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
}

.login-right {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 24px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }
}
